<li{% if active %} class="active"{% endif %}>
    <a href="{{ path( 'lexik_translation_overview' ) }}">
        <img src="{{ asset('bundles/netgeninformationcollection/admin/images/ic-logo-silhouette.svg') }}" class="icon" />
        <span class="tt">Prime Translations</span>
    </a>
</li>

